/.idea/
/.pytest_cache/
/.ipynb_checkpoints/
/__pycache__/
/datafetch/__pycache__/
/datafetch/BaseClass/__pycache__/
/modelmxnet/__pycache__/
/modelpaddle/__pycache__/
/modelpytorch/__pycache__/
/modeltensorflow/__pycache__/
/modelkeras/__pycache__/
/logging_directory/
/working_directory/
/data_directory/dogcat/
/data_directory/fashionmnist/
/data_directory/kaggle_cifar10/
/data_directory/mnist/
/data_directory/cifar10/
/data_directory/img/
/data_directory/hotdog/
/data_directory/pikachu/
/data_directory/houseprice/
/data_directory/lyric/
